<!doctype html>
<html lang="en">
  <head>
    <title>가장 완벽한 건설 메이트</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="/assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
  <script src="/assets/Chart.min.js"></script>
  <script src="/assets//utils.js"></script>


      <style>
    #canvas-holder {
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
    #chartjs-tooltip {
      opacity: 1;
      position: absolute;
      background: rgba(0, 0, 0, .7);
      color: white;
      border-radius: 3px;
      -webkit-transition: all .1s ease;
      transition: all .1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    .chartjs-tooltip-key {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }
  </style>

  <style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.scrollbarX = new am4core.Scrollbar();

// Add data
chart.data = [{
  "country": "USA",
  "visits": 3025
}, {
  "country": "China",
  "visits": 1882
}, {
  "country": "Japan",
  "visits": 1809
}, {
  "country": "Germany",
  "visits": 1322
}, {
  "country": "UK",
  "visits": 1122
}, {
  "country": "France",
  "visits": 1114
}, {
  "country": "India",
  "visits": 984
}, {
  "country": "Spain",
  "visits": 711
}, {
  "country": "Netherlands",
  "visits": 665
}, {
  "country": "Russia",
  "visits": 580
}, {
  "country": "South Korea",
  "visits": 443
}, {
  "country": "Canada",
  "visits": 441
}];

// Create axes
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;
categoryAxis.renderer.labels.template.horizontalCenter = "right";
categoryAxis.renderer.labels.template.verticalCenter = "middle";
categoryAxis.renderer.labels.template.rotation = 270;
categoryAxis.tooltip.disabled = true;
categoryAxis.renderer.minHeight = 110;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.minWidth = 50;

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.sequencedInterpolation = true;
series.dataFields.valueY = "visits";
series.dataFields.categoryX = "country";
series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
series.columns.template.strokeWidth = 0;

series.tooltip.pointerOrientation = "vertical";

series.columns.template.column.cornerRadiusTopLeft = 10;
series.columns.template.column.cornerRadiusTopRight = 10;
series.columns.template.column.fillOpacity = 0.8;

// on hover, make corner radiuses bigger
var hoverState = series.columns.template.column.states.create("hover");
hoverState.properties.cornerRadiusTopLeft = 0;
hoverState.properties.cornerRadiusTopRight = 0;
hoverState.properties.fillOpacity = 1;

series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});

// Cursor
chart.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>
  </head>
  <body><nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
  <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
          가장 위대한 건설 메이트 </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="material-icons">account_circle</i> 로그인
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="material-icons">build</i> (홈)현장관리
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="material-icons">cloud</i> 클라우드
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="material-icons">settings</i> 설정
              </a>
            </li>
          </ul>
      </div>
  </div>
</nav>


<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/back.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>{APPNAME}</h1>
          <h3 class="title text-center">This is best mate with every builder.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container pt-5">
    

    <div class="card card-nav-tabs">
      <h4 class="card-header card-header-info">현재 공정률 75%</h4>
      <div class="card-body">
        <center>
        <div id="canvas-holder" style="width: 150px;">
          <canvas id="chart-area" width="150" height="150"></canvas>
          <div id="chartjs-tooltip">
            <table></table>
          </div>
        </div>
        <br>
        <a href="#0" class="btn btn-info">공정 현황 자세히 보기</a>
        </center>
      </div>
    </div>



    <div class="card text-center mt-5">
      <div class="card-header card-header-rose">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#0">골조</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#0">마감</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#0">전기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#0">설비/통신</a>
          </li>
        
        </ul>
      </div>
      <div class="card-body">
        <h4 class="card-title">골조 작업 목록</h4>
        <div class="form-check" style="display: inline-block;">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked>
                ##작업1
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
        <div class="form-check" style="display: inline-block;">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" >
                ##작업2
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div><br>
        <div class="form-check" style="display: inline-block;">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked>
                ##작업3
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
        <div class="form-check" style="display: inline-block;">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" >
                ##작업4
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
        <a href="#0" class="btn btn-rose">작업 목록 자세히보기</a>
      </div>
    </div>



    <div class="card text-center" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">투입현황</h4>
            <h6 class="card-subtitle mb-2 text-muted">5월 15일 투입현황</h6>
            <button type="button" class="btn btn-primary">
              인원 <span class="badge badge-default">16만</span>
            </button>
            <button type="button" class="btn btn-info">
              장비 <span class="badge badge-default">9</span>
            </button>
            <button type="button" class="btn btn-success">
              자재 <span class="badge badge-default">40</span>
            </button>
            <button type="button" class="btn btn-danger">
              기타 <span class="badge badge-default">40</span>
            </button><br>
            <a href="#0" class="card-link">자세히보기</a>
            <a href="#0" class="card-link">현황관리</a>
          </div>
    </div>




    <div class="card card-nav-tabs mt-5" style="width: 20rem;">
      <div class="card-header card-header-success">
        동별현황
      </div>
      <div id="chartdiv"></div>
      <button class="btn btn-success">동별 현황 자세히 보기</button>
    </div>


  </div>
</div>

<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <!--
          <a href="javascript:void(0);">
              HUME
          </a>//-->
        </li>
      </ul>
    </nav>
    <div class="copyright float-center"> Designed by 
        <script>
            document.write(new Date().getFullYear())
        </script>HUME with somang.lee.
    </div>
  </div>
</footer>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>

<script>
    Chart.defaults.global.tooltips.custom = function(tooltip) {
      // Tooltip Element
      var tooltipEl = document.getElementById('chartjs-tooltip');

      // Hide if no tooltip
      if (tooltip.opacity === 0) {
        tooltipEl.style.opacity = 0;
        return;
      }

      // Set caret Position
      tooltipEl.classList.remove('above', 'below', 'no-transform');
      if (tooltip.yAlign) {
        tooltipEl.classList.add(tooltip.yAlign);
      } else {
        tooltipEl.classList.add('no-transform');
      }

      function getBody(bodyItem) {
        return bodyItem.lines;
      }

      // Set Text
      if (tooltip.body) {
        var titleLines = tooltip.title || [];
        var bodyLines = tooltip.body.map(getBody);

        var innerHtml = '<thead>';

        titleLines.forEach(function(title) {
          innerHtml += '<tr><th>' + title + '</th></tr>';
        });
        innerHtml += '</thead><tbody>';

        bodyLines.forEach(function(body, i) {
          var colors = tooltip.labelColors[i];
          var style = 'background:' + colors.backgroundColor;
          style += '; border-color:' + colors.borderColor;
          style += '; border-width: 2px';
          var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
          innerHtml += '<tr><td>' + span + body + '</td></tr>';
        });
        innerHtml += '</tbody>';

        var tableRoot = tooltipEl.querySelector('table');
        tableRoot.innerHTML = innerHtml;
      }

      var positionY = this._chart.canvas.offsetTop;
      var positionX = this._chart.canvas.offsetLeft;

      // Display, position, and set styles for font
      tooltipEl.style.opacity = 1;
      tooltipEl.style.left = positionX + tooltip.caretX + 'px';
      tooltipEl.style.top = positionY + tooltip.caretY + 'px';
      tooltipEl.style.fontFamily = tooltip._bodyFontFamily;
      tooltipEl.style.fontSize = tooltip.bodyFontSize;
      tooltipEl.style.fontStyle = tooltip._bodyFontStyle;
      tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
    };

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: [300, 50, 100, 40, 10],
          backgroundColor: [
            window.chartColors.red,
            window.chartColors.orange,
            window.chartColors.yellow,
            window.chartColors.green,
            window.chartColors.blue,
          ],
        }],
        labels: [
          'Red',
          'Orange',
          'Yellow',
          'Green',
          'Blue'
        ]
      },
      options: {
        responsive: true,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false,
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>



</body>
<script type="text/javascript">
  
</script>

</html>